
.page-title {
    text-align: center;
    margin-top: 0px; /* Ajuste a margem superior conforme necessário */
  }
  
  /* Estilize os cartões */
  .cards-group {
    text-align: center;
    background-color: #f6dfa7;
  }
  
  .cards-container {
    background-color: #f6dfa7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Para permitir que os cartões quebrem para a próxima linha quando não houver espaço suficiente */
    padding: 20px; /* Adicione espaço ao redor dos cartões */
  }
  
  .card {
    width: 300px;
    height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    background-size: cover; /* Ajuste o tamanho da imagem dentro do card */
    background-position: center;
  }
  
  
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para o texto */
  }
  
  h2 {
    color: #8e5f26;
    margin: 0;
    font-size: 20px;
    text-shadow:
        -1px -1px 0 rgb(255, 255, 255),
        1px -1px 0 rgb(255, 255, 255),
        -1px 1px 0 rgb(255, 255, 255),
        1px 1px 0 rgb(255, 255, 255);
  }
  
  /* Estilize o link (opcional) */
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efeito de sombra suave ao passar o mouse */
  }
  
  /* Estilize o título do h1 */
  h1 {
    color: #8e5f26;
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:
        -1px -1px 0 rgb(255, 255, 255),
        1px -1px 0 rgb(255, 255, 255),
        -1px 1px 0 rgb(255, 255, 255),
        1px 1px 0 rgb(255, 255, 255);
  }
  
  /* Estilize o link de redirecionamento (opcional) */
  .card:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Estilize o link de redirecionamento quando passar o mouse (opcional) */
  .card a:hover {
    background-color: #8e5f26;
    color: #8e5f26;
  }
  
  .card::before {
    content: "";
    display: block;
    padding-top: 75%; /* 4:3 aspect ratio (300 / 400) */
  }
  