.screen {
    height: 550px;
    margin: 0px;
  }
  
  .image-1 {
    background-size: cover;
    background-position: center;
  }
  
  .image-2 {
    background-size: 110% auto; /* Reduz a largura da imagem para 80% do seu tamanho original */
    background-position: center;
  }
  
  .image-3 {
    background-size: 110%; 
    background-position: center; 
  }

.whatsapp-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 525px; 
    left: 88px;
    border-radius: 10px; 
  }
  
  .whatsapp-button:hover {
    background-color: darkgreen;
  }
  
  
.text {
    font-size: 20px;
    /* ajustar espaçamento entre header */
    margin-left: 40px;
    padding: 100px 0px 0px 0px;
    padding-left: 3rem!important;
    border-left-width: 8px!important;
}

.text h1 {
    margin-top: 0px;
    color: #B8860B;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255); /* Cria uma sombra preta ao redor das letras para simular a borda */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 00px 0px 0px 0px;
    display: column;
    font-weight: bolder;
}

.special-text {
    color: #8e5f26;
  }
  
  
